<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @product.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @product.email %>
</p>

<p>
  <strong>access_token:</strong>
  <%= @product.access_token %>
</p>

<p>
  <strong>token_created_at</strong>
  <%= @product.token_created_at %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
